body {
    background-color: skyblue;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
    background-color: lightgreen;
    
}

.center {
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding-top:40px;
}